<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Javascript Basics</title>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../reveal.js/css/main.css">
        <link rel="stylesheet" href="../reveal.js/css/theme/simple.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="../reveal.js/lib/css/zenburn.css">

        <!-- jw styles -->
        <link rel="stylesheet" href="../reveal.js/jayway-theme/css/style.css" id="jayway-theme">

    <!-- Stylesheet -->
    <link href="libs/sandbox.css" rel="stylesheet"/>

        <script>
            // If the query includes 'print-pdf' we'll use the PDF print sheet
            document.write( '<link rel="stylesheet" href="../reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>


    <!-- Templates -->

    <!-- The sandbox template: -->
    <script type="text/template" id="tplSandbox">
        <pre class="output"></pre>
        <div class="input">
            <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
        </div>
    </script>

    <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
    <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>


    <!-- Scripts -->

    <!-- Underscore, Backbone, backbone-localStorage, jQuery -->
    <script src="libs/underscore.min.js"></script>
    <script src="libs/backbone.min.js"></script>
    <script src="libs/backbone-localStorage.min.js"></script>
    <script src="libs/jquery.min.js"></script>

    <!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
    <script src="libs/sandbox-console.js"></script>

    <!-- When ready, create the model and view -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.sandbox').each(function(i, el) {
                new Sandbox.View({
                    el : $(el),
                    model : new Sandbox.Model({
                        iframe : false,  // evaluate commands inside a hidden iframe (default: false)
                        fallback : true // use global eval if iframe isn't available (default: true)
                    })
                });
            });
        });
    </script>


        <!--[if lt IE 9]>
        <script src="../reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

           <img src="../reveal.js/jayway-theme/img/jayway-logo.png" class="jayway-logo header">

            <!-- Used to fade in a background when a specific slide state is reached -->
            <div class="state-background"></div>


            <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <h1>JavaScript Basics</h1>
          <p>Jayway Course</p>
          <p>
          <br>
          </p>
        </section>

        <section>
          <h2>Why JavaScript?</h2>
          <div>It's everywhere!</div>
        </section>

        <section>
          <h1>Early History</h1>
          <h2>LiveScript/Mocha - 1994-95</h2>
          <p>Developed by Brendan Eich at Netscape</p>
          <p>Intended as a light-weight Java-alternative</p>

          <h2>JavaScript, 1995-96</h2>
          <p>Included in Netscape Navigator 2.0</p>
          <p>Included in Microsoft IE 3.0, 1996</p>
          <p>(MS later renamed it <b>JScript</b>)</p>
          <p></p>
          <p>Standardized as <b>ECMAScript</b>, 1997</p>
        </section>

        <section>
          <h1>History, 2000-</h1>
          <p>ECMAScript goes up to revision 5</p>
          <p>Browser vendors race for highest performance</p>
          <p>Google Chrome comes out in 2008 (V8)<p>
          <p>Enables high performance apps like node.js</p>
          <p>Many JavaScript engines still in heavy development today</p>
        </section>

        <section data-markdown>
            ### ECMAScript and JavaScript

            "JavaScript" is an ECMAScript variant managed by Mozilla.
            All non-Mozilla implementations using JavaScript are implementing ECMAScript, rather than Javascript.

        </section>


        <section data-markdown>
          Agenda
          ------

          * Basics
          * Control Structures
          * Values and Types
          * Prototype, Context and This
          * Good Practices and Gotchas

        </section>

        <section data-markdown>
            ### Slides contains exercises for:

            1. typeof, undefined, ==, ===, String
            2. anonymous functions
            3. higher-order functions and recursion
            4. object, scope and this
            5. mocha test framework

            Solutions can be found by using arrow down.
        </section>

        <section data-markdown>
            ### Shells for the Exercises

            * The embedded one in this presentation
            * Chrome Dev Tools
        </section>

        <section data-markdown>
            ### Chrome Dev Tools
            
            * Open Chrome Browser (new version)
            * Type chrome://flags/ as an URL
            * Enable Developer Tools experiments
            * Restart Chrome
            * Open Developer Tool (View->Developer)
            * Press the Settings button at the right bottom
            * Open Source tag/ Snippet tag
         
            You can now edit and run javascript snippets !
            More on [youtube](https://www.youtube.com/watch?feature=player_embedded&v=ktwJ-EDiZoU)
        </section>

        <section data-markdown>
            ### Alternatives
            * The browser console
            * Firefox scratchpad
            * [http:www.jsconsole.com](http://www.jsconsole.com)
            * Mozilla's Spidermonkey

                   `brew install spidermonkey;
                    js -i`
            * Node.js

                   `brew install node;
                   node`
        </section>

        <section data-markdown>
            ### Whitespace

            Use semicolon !

                a = b + c
                (d + e).foo()

                // Treated as:
                a = b + c (d + e).foo();
        </section>

        <section data-markdown>
            ### Variable

                var x;  // declared but not defined

                var y = 0;

                z = 1; // always global scope DON'T !

        </section>

        <section data-markdown>
            ### Function Scope

                function a() { v1 = 42 }  // DON'T !
                a();
                v1 // => 42  GLOBAL

                function b() { var v2 = 43 }
                b();
                v2 // => "ReferenceError: v2 is not defined"

                var v3;
                function c() { v3 = 44 }
                c();
                v3 // => 44

        </section>

        <section data-markdown>
            ### No Block Scope

                var z = 4;

                if (true) {
                    var z = 5;
                }

                z; // => 5

        </section>

        <section data-markdown>
            ### Arithmetic Operators
            +, -, *, / % ++ --

            ### Assignment Operators
            =, +=, -=, *=, /=, %=

            ### Comparison Operators
            ==, ===, !=, !==, <, >, >=, <=
        </section>


        <section data-markdown>
            ### Equality and Identity

            == does type coercion (AVOID)

            === does **NOT** do type coercion

                //because 'true' is converted to 1 and then compared
                true == 1; // true

                //because 2 is converted to "2" and then compared
                "2" == 2; // true

                // Using the === operator (Identity)
                true === 1 //false
                "2" === 2 // false

        </section>

        <section>

        <section data-markdown>
            ### Control Statements, if, for ...

            * C/Java Style:
              * if, else if, else, while, do while, switch, case, for, continue, break
            * Exceptions: try, catch, finally, throw
             
            _(see details, arrow down on this slide)_
        </section>
        
        <section data-markdown>
            ### if else if else

                if (a === b) {
                   "a equals b";
                } else if (a === c) {
                   "a equals c";
                } else {
                   "a does not equal either b or c";
                }

            Or

                a === b ? "a equal b" : "a not equal b"
        </section>

        <section data-markdown>
            ### while

                while (c < 10) {
                   c += 1;
                   // ...
                }
        </section>

        <section data-markdown>
            ### do... while

                do {
                   c += 1;
                } while (c < 10)

        </section>


        <section data-markdown>
            ### switch

                switch(i) {
                  case 1:
                     // ...
                     break;
                  case 2:
                     // ...
                    break;
                  default:
                    // ...
                  break;
                }

        </section>

        <section data-markdown>
            ### for

                var myStringArray = ["Hello","World"];
                for (var i = 0; i < myStringArray.length; i++) {
                   show(myStringArray[i]);
                }


        </section>

        <section data-markdown>
            ### break

                for (i=0;i<10;i++)
                {
                   if (i==3) break;
                   x=x + "The number is " + i + "<br />";
                }

        </section>


        <section data-markdown>
            ### continue

                for (i=0;i<=10;i++)
                {
                   if (i==3) continue;
                   x=x + "The number is " + i + "<br />";
                }
        </section>


        <section data-markdown>
            ### try catch finally

                try{
                  undefinedfunction();
                  alert('I guess you do exist');
                }
                catch(e){
                  alert('An error has occurred: '+e.message);
                }
                finally{
                  alert('I am alerted regardless of the outcome above');
                }

        </section>


        <section data-markdown>
            ### Throw

                throw "Oops" // no stack trace

                throw new Error("Ooops") // now with stack trace

                throw {
                   name: exceptionName,
                   message: reason
                }


        </section>

        </section>

        <section data-markdown>
            ### Values
            * Numbers
            * Strings
            * Booleans
            * Object
            * null
            * undefined
            * Arrays (object)
            * Regular Expressions (object)
            * Functions (object)
        </section>


        <section data-markdown>
            ### Strings

                // example:
                var txt  = 'Hello World!';
                var txt2 = "I'm happy" + " happy";

            _Sequence of 16 bit elements interpreted as UTF-16._

        </section>

        <section data-markdown>
            ### String Methods

            charAt, concat, indexOf, lastIndexOf, match, replace, search, slice, split, substring, toLowerCase, toUpperCase

        </section>


        <section>
        <section data-markdown>
            Numbers
            -------

            _Represents both integers and reals. 64 bit._

                var a = 352661;
                var b = 334.22;

            Special values:

                NaN
                +Infinity
                -Infinity

        </section>

        <section data-markdown>
            ### Numbers

                test("Strange arithmetic", function() {
                    var a = NaN;
                    equals( a &lt;  10, false, "bigger than 10");
                    equals( a &gt;  10, false, "smaller than 10");
                    equals( a === 10, false, "not equal to 10");
                    equals( a === NaN, false, "not NaN??? " );
                    equals( isNaN( a ), true, "Ahh!!" );
                });


            _Caveat: some operators only work on 32 bit numbers. A silent conversion
            will be performed by the operator._
        </section>

        </section>

        <section data-markdown>
            ### String to Number

            parseInt, parseFloat and Number:

                parseInt("1234blue"); //returns 1234
                parseInt("0xA"); //returns 10
                parseInt("22.5"); //returns 22
                parseInt("blue"); //returns NaN
                parseInt("09"); // return 0 !!!
                parseInt("09",10); // return 9 !!!
                parseFloat("1234blue”); //returns 1234.0
                parseFloat("0xA”); //returns NaN
                parseFloat("22.5”); //returns 22.5

                Number('42.0') // returns 42
        </section>

        <section data-markdown>
            ### Number to String

                var num = 15;
                num.toString();

                // or
                15 + "";

                // or
                String(15);
        </section>


        <section data-markdown>
            ### Booleans

                //Two possible values: true or false
                var a = true;
                var b = a &amp;&amp; ( a == false );

        </section>

        <section data-markdown>
            ### Falsy values

            * false
            * null
            * undefined
            * ""
            * 0
            * NaN

            _All other values are truthy_

        </section>

        <section data-markdown>
            ### undefined and null

            `undefined` - Anything unassigned or not declared.

            `null` - meaning "no value".

        </section>

        <section data-markdown>
            ### undefined and null

            `undefined` - variable has not been declared or has not been given a value.

                var input;
                if(input === undefined) {
                    doThis();
                } else {
                    doThat();
                }

        </section>

        <section data-markdown>
            Equality and Comparison
            -----------------------

            '==' can produce confusing results

                equals( false, '' == '0' );
                equals( true, 0 == '' );
                equals( true, 0 == '0' );

                equals( false, false == 'false' );
                equals( true, false == '0' );

                equals( false, false == undefined );
                equals( false, false == null );
                equals( true, null == undefined );

                equals( true, ' \t\r\n ' == 0 );

        </section>


        <section>
            <h3>Exercise <code>typeof</code></h3>

            <div class='sandbox-notes'>
                <ul>
                    <li>What type does null have ? hint: `typeof null`</li>
                <li> What type does an unknown variable have?  hint: `typeof notDeclaredVar`</li>
                </ul>
            </div>
           <div class="sandbox">sandbox console loading...</div>
        </section>


        <section>
            <h3>Exercise Equality</h3>
            <div class='sandbox-notes'>
                Explore:
                <ul>
                    <li><code>'x' == new String('x')</code></li>
                    <li><code>'x' === new String('x')</code></li>
                    <li><code>null == undefined</code></li>
                    <li><code>null === undefined</code></li>
                    <li><code>undefined || 'Hello'</code></li>
                    <li><code>'' || 'Hello'</code></li>
                    <li><code>"Hello " + undefined + 2</code></li>
                </ul>
            </div>

           <div class="sandbox">sandbox console loading...</div>
        </section>

        <section data-markdown>
            ### Functions

            # First Class Citizen

        </section>

        <section data-markdown>
            ### Function Statement

                function foo() {}

            expands to

                var foo = function foo() {};

        </section>

        <section>
        <section>
            <h3>Exercise <code>function</code></h3>

            <div class='sandbox-notes'>
                Write a function <code>add</code> that adds two string
                values like this:
<p><code>add("42", "3") // => 45</code></p>
            </div>
           <div class="sandbox">sandbox console loading...</div>
        </section>

        <section data-markdown>
           ### Solution

                  function add(val1, val2) {
                     return parseInt(val1, 10) + parseInt(val2, 10);
                  }
        </section>

        </section>

        <section data-markdown>
            ## Anonymous Functions

                var f = function(a, b) { return a + b; }
        </section>

        <section data-markdown>
            ### Invocation

            by parenthesis

                //Example:
                var greeter = function() { return 'hello'; }

                greeter // a reference to the function
                greeter() // => 'hello'
        </section>

        <section data-markdown>
            ### Arguments

            Arguments bound if present, e.g:

                (function (x, y) {return x + y}) (’foo’)  # => ’fooundefined’

            varargs by `arguments`, e.g.:

                function bar(){ return arguments;}
                bar("hej", 42) // => {"0":"hej","1":42}

        </section>

        <section data-markdown>
            ### Lazy Scoping

                var bar = function () {return bar};
                bar () === bar;  // => true

        </section>

        <section data-markdown>
            ### First Class Citizen

            means

            * Can be arguments to functions
            * Can be returned from functions

        </section>

       <section data-markdown>
            ### Returning Functions

                var sayHello = function() {
                  return function() { return "Hello " + name; }
                };

                // Create a function
                var helloMe = sayHello('andreas');
                Invoke it
                helloMe(); // => "Hello andreas"

                // Direct invocation
                sayHello('Tapir')(); //Hello Tapir
        </section>

        <section>
        <section>
            <h3>Exercise</h3>

            <div class='sandbox-notes'>
                Write an anonymous function so that:
                <code><pre>
var x = function()...
x;  // => "Your Name"
x(); // => "TypeError, ... not a function"
               </pre></code>
            </div>

           <div class="sandbox">sandbox console loading...</div>            
        </section>

        <section>
           <h3>Solution</h3>
                <code><pre>
var x = function() { return "Andreas"; }()

               </pre></code>          
        </section>           
        </section>

        <section data-markdown>
            ## Arrays

            * Array inherits from object !
            * Indexes are converted to strings
            * `length` = largest numeric index in the array.
            * The `length` property can be set !
            * When you add a new element, `push()`, length is increased by one.
        </section>

        <section data-markdown>
            ## Arrays

            * `var names = ['a', 42, false]`
            * `typeof names == ‘object’`
            * `names.constructor === Array`
        </section>

        <section data-markdown>
            ## Array Methods

            * `concat`, `join`, `pop`, `push`, `slice` , `sort`, `splice`, `length`
            * ECMAScript 5 (IE 9)
               * `forEach`, `indexOf`, `lastIndexOf`, `filter`, `map`, `every`, `some`, `reduce`, `reduceRight`
        </section>

        <section data-markdown>
            ### Example

                var v = ['foo', 42, false];
                v.length = 2;
                v.foo = 'bar'
                v; // => ['foo', 42]
                v[0]; // 'foo'
        </section>

        <section data-markdown>
          ### underscore.js library

          Examples: `map`, `filter`, `once`

              _.map([1, 2, 3], function(num){ return num * 3; });
              // => [3, 6, 9]

              var even = _.filter([1, 2, 3, 4, 5, 6], function(num){
                  return num % 2 == 0;
              });  // => [2, 4, 6]

              var initialize = _.once(createApplication);
              initialize();
              initialize(); // Application is only created once.
        </section>


        <section>
            <h3>Exercise</h3>
            Impl. function 'sum' so that:
<code><pre>
sum([1,2,3]) # => 6
</pre></code>

           <div class="sandbox">sandbox console loading...</div>

        </section>


        <section>
            <h3>Exercise</h3>

            Impl. function 'each' so that:
<code><pre>
var total = 0;
each([1,2,3], function(q) { x += q})
total # => 6
</pre></code>

           <div class="sandbox">sandbox console loading...</div>

        </section>

        <section>                      
        <section>
            <h3>Exercise</h3>
            Impl. 'times' with recursion:

           <code><pre>
times(10, function(x) { s += 1 })
total // => 10
</pre></code>

           <div class="sandbox">sandbox console loading...</div>

        </section>

       <section>
           <h3>Solution</h3>
<code><pre>           
 function times(n,f) {
if (n > 0) {
   f();
   times(n-1, f);
}
}
total = 0;
times(10, function(x){ total += 1})
total // => 10
</pre></code>
        </section>
        </section>
           
        <section data-markdown>
            ### Objects

            An object is a container of keys and values.

                var myObject = {
                   name: 'Andreas',
                   sayHello: function() {... }
                }

           
            Similar to JSON

        </section>


    <section>
        <h3>Retrieval</h3>
            <pre><code>
var flight = {
  airline: "Oceanic",
  departure : {
    IATA: "SYD",
    time: "2004-09-22 14:55",
    city: "Sydney"
  }
}
flight.departure.city;
// Same as
flight["departure"]["city"];
            </code></pre>
        </section>

    <section>
        <h3>Object Methods</h3>
            <pre><code>
var myObject = {
  name: 'andreas',
  sayHello: function() { alert("hello") }
}
myObject.sayHello // the function reference
myObject.sayHello();
            </code></pre>
        </section>

    <section>
        <h3>Non-existent properties</h3>
            <pre><code>
flight.foo // undefined
flight['foo'] // undefined
flight.foo.city; // undefined
            </code></pre>
        </section>

    <section>
        <h3>Setting Non-existent properties</h3>
            <pre><code>
flight.foo = 'bar';
flight['baaz'] = 42
            </code></pre>
        </section>

    <section>
            <pre><code>
delete flight.foo
flight.foo // undefined
            </code></pre>
        </section>


        <section>           
        <section>
            <h3>Exercise: object method</h3>

            <div class='sandbox-notes'>
              Create an object <code>adder</code> with a method
              <code>add</code> and a property <code>sum</code>

              <p><code><pre>
var adder = { add: function // write this line ...}
typeof adder.sum // => "undefined"
adder.add(42)
adder.sum // => 42
adder.add(3)
adder.sum // => 45
</pre></code></p>
              Hint: setting property use <code>this.sum = ...</code> 
            </div>
           <div class="sandbox">sandbox console loading...</div>
        </section>

        <section data-markdown>
            ### Solution

                 var adder = { add: function(val) { this.sum = (this.sum || 0) + val; } }

        </section>

        </section>           

           
        <section data-markdown>
            ### Prototype-based programming

            * OO without classes !
            * Inheritance by object delegation
       </section>

       <section>
        <h3>The Prototype Chain</h3>
             <pre><code>
var foo = {name: "foo", one: 1, two: 2};
var bar = {two: 'two'};
// Make bar delegate method calls the prototype foo:
bar.__proto__ = foo;  // don't do this !
bar.one // Resolves to 1.
bar.two // Resolves to 'two'
delete bar.two
bar.two // Resolves to 2
            </code></pre>
       </section>


        <section data-markdown>
          <h3>Prototypal Inheritance</h3>

          Objects can share properties

          `new F()` creates new objects that inherits from `F.prototype`

          `F` is a constructor function.

        </section>

        <section data-markdown>
            ### The Constructor Functions

                function Pet(species) {
                    this.species = species;
                    this.sayHello = function() {
                      return "Hello " + this.species;
                    }
                 }
                 var cat = new Pet('cat');
                 cat.sayHello();
        </section>

        <section>           
          <section>
            <h3>Exercise: Constructor Functions</h3>

            <div class='sandbox-notes'>
              Write a constructor function so that <code><pre>
function Adder() { // write this... }
var x = new Adder();
x.sum // => 0
x.add(42)
x.add(3)
x.sum // => 45
</pre></code>
              <p>Discuss: when should you use contructor functions ?
              when should you use object literals ?</p>
            </div>
           <div class="sandbox">sandbox console loading...</div>
          </section>
          <section data-markdown>
           ### Solution

                function Adder(){ this.sum = 0; this.add = function(val) {this.sum += val}}
          </section>
        </section>           


        <section data-markdown>
            ### The prototype

            Constructor functions has a property `prototype`

                function Pet(species){
                    this.species = species;
                }

                Pet.prototype.sayHello = function() {
                   return "Hello " + this.species;
                }

        </section>

        <section data-markdown>
            ### The prototype property

            * Is used to share properties
            * Is used for inheritance

        </section>


        <section data-markdown>
            ## Built-in Prototypes

            * Object.prototype
            * Array.prototype
            * Function.prototype
            * Number.prototype
            * String.prototype
            * Boolean.prototype
        </section>

       <section data-markdown>
           ## Extending

               // Avoid doing this !
               Array.prototype.last = function() {
                   return this[this.length - 1];
               };

               [1.2.3].last(); // => 3
        </section>

    <section>
        <h3>Object.create</h3>
            <pre><code>
var foo = {name: "foo", one: 1, two: 2};
var bar = Object.create(foo); 
bar.one // Resolves to 1.
bar.two // Resolves to 'two'
            </code></pre>
        </section>

       <section>
        <h3>Prototypal Inheritance</h3>
          <pre><code>
// define a base object
var foo = {
    name: "foo",
    sayHello: function() {
        alert("hello from " + this.name);
    }
};
foo.sayHello();
            </code></pre>
      </section>

       <section>
        <h3>Prototypal Inheritance</h3>
            <pre><code>
var foo = {
    name: "foo",
    sayHello: function() {
        alert("hello from " + this.name);
    }
};

// define a object 'inheriting' from object bar
var bar = Object.create(foo);
bar.sayGoodbye = function() {
    alert("goodbye from " + this.name);
}
bar.sayHello();
bar.sayGoodbye();
            </code></pre>
      </section>

        <section data-markdown>
            Object.create

                // Usually built in, but can be implemented like this:
                Object.create = function(o) {
                    function F() {}
                    F.prototype = o;
                    return new F();
                 }
        </section>

        <section>
        <section>
            <h3>Exercise <code>Object.create</code></h3>

            <div class='sandbox-notes'>
              Use : <p><code>var adder = { add: function(val) {
              this.sum = (this.sum || 0) + val; } }</code></p>

              Inherit from <code>adder</code> so that:
              <p>
<code><pre>
var x = // write this line
x.sub = // write this line, so that:
x.add(5);
x.sum // => 5
x.sub(3)
x.sum // => 2
</pre></code>
              </p>
            </div>
            
           <div class="sandbox">sandbox console loading...</div>
        </section>

        <section data-markdown>
           ### Solution

               var adder = { add: function(val) { this.sum = (this.sum || 0) + val; } }
               var y = Object.create(adder);
               y.sub = function(value) { this.add(-value) }
        </section>
        </section>           
        <section data-markdown>
            ## JSON

            * A subset of javascript
            * JavaScript Object Notation
                * objects
                * arrays
                * strings
                * numbers
                * booleans
                * null
        </section>

        <section>
            <h3>JSON</h3>
            <pre><code>
            var flight = {
                airline: "Oceanic",   // string
                number: 815,          // number
                departure : {          // object
                    IATA: "SYD",
                    time: "2004-09-22 14:55",
                    city: "Sydney"
                },
                arrival : {            // object
                    IATA : "LAX",
                    time : "2004-09-23 10:42",
                    city : "Los Angeles"
                }
            };
            </code></pre>
        </section>

        <section>
            <h3>JSON</h3>
            <pre><code>
                // array of objects
                var array = [
                    {
                        firstName : "John",
                        lastName  : "Doe",
                        mobile    : 2353,
                        loggedin  : true
                    },
                    {
                        firstName : "Mary",
                        lastName  : "Smith",
                        mobile    : 3243,
                        loggedin  : false
                    },
                    {
                        firstName : "Fax",
                        lastName  : "",
                        mobile    : 1234,
                        loggedin  : null
                    }
                ];
            </code></pre>
        </section>

        <section data-markdown>
            ## Scope

            The function is the scope of variables.
        </section>

        <section data-markdown>
            ## Function Scope

                var iAmGlobal = 42;
                var x = function(){
                   var secret = 1;
                   return iAmGlobal + 1;
                }(); // => 43

                secret // => ReferenceError: secret not defined

        </section>

        <section data-markdown>
            ## This

            `this` depends on who's calling:

                var x = {
                  name: 'andreas',
                  me: function() { return this.andreas; }
                };

                // Calling an Object's Method:
                x.me(); // => 'andreas'

                var y = x.me
                y(); // => undefined !!!
                this.name = 'root';
                y(); // => 'root'
        </section>

        <section data-markdown>
            ## Root Context

                function test_this() {
                   return this;
                }
                var i_wonder_what_this_is = test_this();

            this reference the window object

            (for browsers)
        </section>

        <section>
            Event handling

            <pre><code>
  function click_handler() {
   alert(this); // alerts the window object
  }

 button id='thebutton' onclick='click_handler()'>Click me!</button>
            </code></pre>
This is the DOM element clicked

        </section>

        <section data-markdown>
            ## Manipulating Context/this

            * apply
            * call

        </section>

        <section data-markdown>
            ## Call

                 var first_object = {
                  num: 42
                 };
                 var second_object = {
                  num: 24
                 };

                 function multiply(mult) {
                  return this.num * mult;
                 }

                 multiply.call(first_object, 5); // returns 42 * 5
                 multiply.call(second_object, 5); // returns 24 * 5
        </section>

        <section data-markdown>
            ## Apply

            Similar to call, but with args as an array:

                multiply.apply(first_object, [5]); // returns 42 * 5
                multiply.apply(second_object, [5]); // returns 24 * 5
        </section>


        <section data-markdown>
          ### JS Frameworks and bind

          * ECMAScript5 - Function.prototype.bind
          * backbone/underscore - `bind`, `bindAll`
               * Example: `_bind(this.render, this)`
               * CoffeeScript, use the <code>=></code> operator

        </section>

        <section>
        <section>
           <h3>Exercise: this, string, arrays</h3>

           <div class='sandbox-notes'>
            Impl. <code>t</code> which translates strings:
            <code><pre>
var t = { ... }
t.hello = 'hej';
t.world = 'värld';
t.translate("hello world") # => "hej värld"
            </pre></code>
             <p>Use Array methods: <code>forEach</code>, <code>push</code>, <code>join</code></p>
             <p>Use String method: <code>split(' ')</code></p>
          </div>
          <div class="sandbox">sandbox console loading...</div>
        </section>

        <section data-markdown>
          ### Solution

              var t = {
                 translate: function(s) {
                   var self = this;
                   var reply = [];
                   s.split(' ').forEach(function(w){ reply.push(self[w])});
                   return reply.join(' ');
                 }
              }

              t.hello='hej';
              t.world='varld';

        </section>


        </section>

        <section>
           <section>
            <h3>Exercise: Inheritance</h3>

            <div class='sandbox-notes'>
              <code><pre>
var base = { foo: 'bla'};
var sub = Object.create(base);
              </pre></code>
            What happens when
              <code><pre>
base.foo = 'changed'
sub.foo // ??
              </pre></code>
              </div>
          <div class="sandbox">sandbox console loading...</div>              
          </section>

        <section data-markdown>
          ### Solution

              base.foo = 'changed' // "changed"
              sub.foo // "changed"
        </section>

        </section>

        <section>

         <section>
            <h3>Exercise Prototype</h3>

            <div class='sandbox-notes'>
              <code><pre>              
function Bar() {}
var a = {name: "foo"};
// write one line here, so that :
var b = new Bar();
b.name // => "foo"
a.name = 'bar';
b.name // => "bar"
              </pre></code>
              </div>
          <div class="sandbox">sandbox console loading...</div>                            
        </section>

        <section data-markdown>
          ### Solution

          The line is:

              Bar.prototype = a;
        </section>

        </section>

        <section data-markdown>
            ## Dynamic Compilation
            * `eval`
                * Evaluates a string and returns the result.
            * `new Function(parameterArray, codeString)`
                * Creates and returns a function.
                * `var add=new Function("a", "b", "return a+b;");`
        </section>

        <section data-markdown>
            ### Regular Expressions

            #### Methods:

            `String.search`, `String.match`, `String.replace`, `String.split`, `RegExp.exec`, `RegExp.test`

            #### Example:

                 var re5digit = /^\d{5}$/; or new RegExp("pattern")
                 "12312".search(re5digit) // # => 0


        </section>

        <section data-markdown>
            ## Good Practices
        </section>

        <section data-markdown>
            ## Cascade

                setFirst: function(name) {
                  this.first = name;
                  return this;
                }
                person
                .setFirst(“Anders”)
                .setLast(“Janmyr”)
                .setAge(40);
       </section>

        <section data-markdown>
            ## Encapsulation

                var Esperanto = Esperanto || {};

                Esperanto.Lab = function() {
                    var privVar = "example";
                    function privFunc() {
                       return privVar;
                    }
                    return {
                       example: function() { return privFunc(); }
                    }
                 }()

        </section>

        <section data-markdown>
            ### Modules/Encapsulation

            Example of Third Party Libs:

            * RequireJS - file and module loader
            * StealJS - Script & Dependency System and more
            * CommonJS
        </section>

        <section data-markdown>
            ## Local Functions

                costData: function(current) {
                    var data = {};
                    function addEntry(name, cost) {
                      data[name + "PerHour"] = model.withTwoDec(cost/hours);
                      data[name] = model.noDecimalsWithSeparator(cost);
                    };

                    addEntry("interest", this.financialCost(current)),
                    addEntry("depreciation", this.depreciationCost(current)),
                    return data;
                },
        </section>

        <section data-markdown>
            ## self = this

                attachFormListener: function(form, object) {
                    var self = this;
                    function populator(event) {
                       self.populateFromForm(form, object);
                       object.notify();
                    };

                    form.getElements().each(function(child) {
                       child.observe('change', populator);
                    });
                 }

        </section>

        <section data-markdown>
            ### JavaScript Strict Mode

            * Available ECMAScript 5
            * Throws errors for error prone code.
            * Don't use globally - can break third party libs when concatenating files

            <pre><code>
            // Don't use strict globally
            (function() {
                "use strict";
                // this runs in strict mode
            }());
            </code></pre>
        </section>


        <section data-markdown>
            ### javascript gotchas

            Be aware of:

                "1" == 1 // true

            Advice:

                Number("1") === 1

        </section>

        <section data-markdown>
            ### `parseInt` doesn't assume base-10

            Be aware of:

                parseInt("8"); //8
                parseInt("08"); //0

            Advice:

                parseInt("8", 10); //8
                parseInt("08", 10); //8

        </section>


        <section data-markdown>
            ### instanceof

            Be aware of:

                "hello" instanceof String; //false
                new String("hello") instanceof String; //true

        </section>


        <section data-markdown>
            ### instanceof

            Be aware of:

                typeof [1,2,3]  // 'object'
                [1,2,3] instanceof Array // true

        </section>

        <section data-markdown>
            ### Avoid new Object()

            Be aware of:

                var q = new Object(42);
                q instanceof Number  // => true
                var w = new Object("42")
                w instanceof Number  // => false
                w instanceof String  // => true

            Advice, use literals:

                var a = {}
                var b = "42";


        </section>

        <section data-markdown>
            ### Advices

            * Javascript strict mode
            * JSLint, Closure Compiler
            * CoffeeScript
            * Test Frameworks (of course !)
        </section>

        <section>
            <h3>CoffeeScript Example</h3>

            <pre><code>
            class Animal
               constructor: (@name) ->

               move: (meters) ->
                  alert @name + " moved #{meters}."
            </code></pre>
        </section>

        <section>
            <h3>Compiles to</h3>

            <pre><code>
            Animal = (function() {

                function Animal(name) {
                    this.name = name;
                }

                Animal.prototype.move = function(meters) {
                    return alert(this.name +
                        (" moved " + meters + "m."));
                };

                return Animal;

            })();
            </code></pre>
        </section>


        <section data-markdown>
            ### Mocha Example

                describe('Array', function(){
                  describe('#indexOf()', function(){
                    it('returns -1 when the value is not present', function(){
                       assert.equal(-1, [1,2,3].indexOf(5));
                       assert.equal(-1, [1,2,3].indexOf(0));
                     })
                   })
                })

            Check also the Jasmine Test Framework
        </section>

        <section data-markdown>
            ### Exercise

            * See the lab/functional and lab/strings folders
            * Open browser for the tests.html file
            * Impl the .js file to get the tests to pass.
        </section>

        <section data-markdown>
            ### Reading List

            * Javascript, The Good Parts
            * Javascript Patterns
            * Eloquent Javascript, http://eloquentjavascript.net/
            * JavaScript: The Definitive Guide
            * CoffeeScript: http://coffeescript.codeschool.com
        </section>

      </div>

            <!-- The navigational controls UI -->
            <aside class="controls">
                <a class="left" href="#">&#x25C4;</a>
                <a class="right" href="#">&#x25BA;</a>
                <a class="up" href="#">&#x25B2;</a>
                <a class="down" href="#">&#x25BC;</a>
            </aside>

            <!-- Presentation progress bar -->
            <div class="progress"><span></span></div>

        </div>

        <script src="../reveal.js/lib/js/head.min.js"></script>
        <script src="../reveal.js/js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,

                theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '../reveal.js/lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
                    { src: '../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '../reveal.js/lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../reveal.js/lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
                    { src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
                ]
            });

        </script>

    </body>
</html>

<!--  LocalWords:  Impl Ahh fooundefined mult RegExp privVar privFunc populator
 -->
<!--  LocalWords:  Browserify instanceof
 -->
