body {
  background-image: url('../bg_image_1.png');
  font-size: 1.2em;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, "Lucida Grande", sans-serif; 
  line-height: 1.4em;
}
  
img {
  width: 100%;
}

h1,
h2,
h3 {
  color: #444;
}

p {
  color: #666;
}

.content {
  margin: 15px 0px 0px 10px;
  padding: 15px;
}
  
.container {
  padding: 0px 15px 15px 15px;
  margin-top: 15px;
  background-color: #ddd;
  background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(221,221,221,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(221,221,221,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(221,221,221,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00dddddd',GradientType=0 ); /* IE6-9 */    
}
  
.container, .header, .primary, .secondary, .footer {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */  
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */  
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.header, .primary, .secondary, .footer {
    background-color: #fefefe;
}

.header ul {
  padding-start: 0px;
  -webkit-padding-start: 0px;
  -moz-padding-start: 0px;
}
  
.header li {
  display: inline;
  margin: 0 5px;
}

form > div {
  clear: both;
}

label {
  width: 95px;
  float: left;
  text-align: right;
  padding-right: 10px;
  display: inline;
}

fieldset {
  border: 1px solid #999;
  border-radius: 5px;
}
    
fieldset * {
  float: none;
}

input, select, textarea {
  border: 1px solid #999;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75em;
}

input[type="submit"] {
  background-color: #999; 
  color: #fefefe;   
  border-radius: 5px;
  float: right;
  margin: 10px 0;
}

input[type="text"], select, textarea { 
  border-radius: 5px;
  width: 170px;
}

select {
  width: 190px;
}

